
    <header>
        <h1>{{myTitle}}</h1>
        <p>{{mySlogan}}</p>
    </header>
    <div class="main">
        <div class="searchBar">
            <input type="text" placeholder="type bar code here..." [formControl]="champSaisi">
            <button (click)="afficherChampSaisi()">Rechercher</button>
        </div>
        <div class="food">
            <div class="photo">
                <h2>Produit</h2>
                <img src="{{photo}}">
            </div>
            <div class="ingredient">
                <h2>Ingrédients</h2>
                <p>{{ingredient}}</p>
            </div>
        </div>
        <div class="allergen">
            <h2>Allergènes</h2>
            <p>{{allergen}}</p>
        </div>
        <div class="triple">
            <div class="nova">
                <h2>NOVA</h2>
                <p>{{nova}}</p>
            </div>
            <div class="nutriscore">
                <h2>Nutriscore</h2>
                <p>{{nutriscore}}</p>
            </div>
            <div class="palm">
                <h2>Huile de palm</h2>
                <p>{{palm}}</p>
            </div>
        </div>
        <div class="info">
            <h2>Point de vente</h2>
            <p>{{info}}</p>
        </div>
        <footer>

        </footer>


        <script src="assets/js/script.js"></script>

<router-outlet></router-outlet>
