
    <header>
        <h1>My Yuka</h1>
        <p>Obtenez les informations sur les produits alimentaires</p>
    </header>
    <div class="main">
        <div class="searchBar">
            <input type="text" placeholder="type bar code here...">
            <button>Rechercher</button>
        </div>
        <div class="food">
            <div class="photo">

            </div>
            <div class="ingredient">

            </div>
        </div>
        <div class="allergen">

        </div>
        <div class="triple">
            <div class="nova">

            </div>
            <div class="nutriscore">

            </div>
            <div class="palm">

            </div>
        </div>
        <div class="info">

        </div>
        <footer>

        </footer>


        <script src="assets/js/script.js"></script>

<router-outlet></router-outlet>
