* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    border: none;
    margin: 0;
    padding: 0;
    background-color: #f5f1ed;
}

header {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    height: 200px;
    background-color: #70798C;
    margin-bottom: 10px;
}

header h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: #ffffff;
    font-size: 100px;
}

header p {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-size: 20px;
}

.searchBar {
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #dad2bc;
    margin-bottom: 10px;
}

.searchBar input {
    width: 500px;
    height: 50px;
    padding-left: 10px;
    font-size: 30px;
    border-radius: 10px;
}

.searchBar button {
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 30px;
    margin-left: 10px;
    border-color: #252323;
    color: #252323;
}

.food {
    display: flex;
    align-items: center;
}

.ingredient {
    border-radius: 30px;
    height: 400px;
    width: 50%;
    background-color: #dad2bc;
    margin-left: 5px;
}

.photo {
    border-radius: 30px;
    height: 400px;
    width: 50%;
    background-color: #dad2bc;
    margin-right: 5px;
}

.triple {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.nova, .nutriscore, .palm {
    border-radius: 30px;
    height: 200px;
    background-color: #dad2bc;
    width: 32.8%;
}

.info {
    height: 200px;
    background-color: #dad2bc;
    border-radius: 30px;
}

.allergen {
    margin: 10px 0;
    height: 200px;
    background-color: #dad2bc;
    border-radius: 30px;
}

footer {
    margin-top: 10px;
    border-radius: 30px;
    height: 150px;
    background-color: #70798C;
}

.main h2 {
    margin-top: 10px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}

.ingredient p {
    margin: auto;
    width: 80%;
    margin-top: 50px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}

.photo img {
    max-width: 80%;
    max-height: 80%;
}

.photo {
    text-align: center;
}

.allergen p, .info p {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
}

.nutriscore p, .palm p, .nova p {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
}
